/*
 * These are the defaults for accordion widget, used on the FAQ page, and for the temporary NYC2023 module.
 */

#accordion {
	/* v4 */
	font-family: 'Inter', sans-serif;
}

#accordion>h3 {
	/* v4 */
	color: #0D8894;
	font-size: 145%;
	font-weight: bold;
	cursor: pointer;
	margin-top: 1.1em;
	border: none;
	background: none;
}

#accordion>h3.ui-state-active {
	/* v4 */
	text-decoration: underline;
}

#accordion>div {
	/* v4 */
	padding: 0 0.8em;
	border: none;
	background: none;
	color: inherit;
}

#accordions {
	/* v4 */
	margin: auto;
	color: #222222;
}

#accordions h3 {
	/* v4 */
	display: block;
	background-color: #f9f9f9;
	padding: 0.5em 2em 0.5em 1.5em;
	font-size: 17pt;
	position: relative;
	cursor: pointer;
	color: #000;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

#accordions h3>span.ui-icon {
	/* v4 */
	display: none;
}

#accordions h3:after {
	/* v4 */
	display: block;
	width: 2em;
	height: 100%;
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	line-height: 1em;
	text-align: center;
	font-size: 22pt;
	background-image: url(../../images/plus-circle.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 0.3em) center;
	background-size: 1em;
	font-family: 'Poppins', sans-serif;
}

#accordions h3.ui-state-active {
	/* v4 */
	background-color: #1bacaf;
	color: #fff;
	margin-bottom: 0.5rem;
}

#accordions h3.ui-state-active:after {
	/* v4 */
	background-image: url(../../images/no-entry.svg);
	color: #fff;
}

#accordions div.ui-accordion-content {
	/* v4 */
	padding: 1em 2em 1em 2em;
	font-size: 14pt;
	border: none;
}
