/* 
 * The Dutch Protocol is the seventh panel on the front page.
 */

/* 
 * section.nblk-2
 */
 
 
section.nblk-2 {
	/* v4 */
	background-color: #f0f0f0;
	padding: 1rem 0;
}

section.nblk-2 .container.hwidth {
	/* v4 */
	/*! max-width: 1450px; */
	padding: 3rem 0.5rem;
	font-size: 1.1rem;
}

section.nblk-2 .container.hwidth h2 {
	/* v4 */
	color: #03444a;
	font-family: "poppins";
	text-align: left;
	max-width: 41rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}

section.nblk-2 .container.hwidth p {
	/* v4 */
	line-height: 1.9em;
}

section.nblk-2 .tb1 {
	/* v4 */
	padding: 1em;
	font-size: 1rem;
}

section.nblk-2 .tb1 .tbs1 {
	/* v4 */
	box-shadow: 0px 0px 1.1rem rgba(0,0,0,0.5);
	padding: 1em 2.9em;
	background: #fff;
	height: 100%;
}

section.nblk-2 .tb1 .tbs1 ul {
	/* v4 */
	padding: 0;
	list-style: outside;
}

section.nblk-2 .tb1 .tbs1 ul li {
	/* v4 */
}

section.nblk-2 .container.hwidth .tb1 h2 {
	/* v4 */
	font-size: 1.1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: none;
	font-weight: bold;
}

section.nblk-2 .tb1.tb11 .tbs1 {
	/* v4 */
	background-color:#03444a;
	color: #fff;
}
	
section.nblk-2 .container.hwidth .tb1.tb11 h2 {
	/* v4 */
	color: #fff;
}

@media (max-width:800px){
		
	section.nblk-2 {
		/* v4 */
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}